.qbs
build
*.dll
*.dylib
*.exe
*.exp
*.ilk
*.manifest
*.obj
*.pdb
*.pro.user*
*~
*.o
*.lib
*.so
moc_*.cpp
*.moc
*.qch
*.a
*.cpp.orig

Makefile*
/tests/auto/blackbox/tst_blackbox
/tests/auto/buildgraph/tst_buildgraph
/tests/auto/language/tst_language
/tests/auto/tools/tst_tools

*.app/
bin/*
doc/html/*
