.qmake.cache
.qmake.stash
.qbs
build
*.dll
*.dylib
*.exe
*.exp
*.ilk
*.manifest
*.obj
*.pdb
*.pro.user*
*.qbs.user*
*.xcodeproj/
target_wrapper.sh
*~
*.o
*.lib
*.so
moc_*.cpp
qrc_*.cpp
*.moc
*.qch
*.a
*.cpp.orig
ui_*.h

Makefile*
debug/
release/
/tests/auto/blackbox/testWorkDir
/tests/auto/blackbox/tst_blackbox
/tests/auto/buildgraph/tst_buildgraph
/tests/auto/language/tst_language
/tests/auto/tools/tst_tools

*.app/
*_resource.rc
bin/*
doc/qbs/html/*
/lib
