---
Checks: >
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-signed-char-misuse,
    -bugprone-suspicious-memory-comparison,
    -bugprone-sizeof-expression,
    -misc-redundant-expression,
    -misc-unused-parameters

InheritParentConfig: true
...
