[Desktop Entry]
GenericName=Image Editor
GenericName[fr]=Éditeur d'images
Comment=Create images and edit photographs
Comment[fr]=Créer des images et éditer des photographies
Icon=overridden.png
